body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100%;
}

#root {
  height: 100%;
  width: 100;
}

* {
  font-family: sans-serif;
}

input,
button {
  background: rgb(234, 234, 234);
  border-radius: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
button {
  user-select: none;
}
button:hover {
  color: blue;
  background: lightgrey;
}
